.getawaypage {
  display: flex;
  background-image: url('/images/seven.jpg');
  height: 100vh; /* Full height */
}

.getawaypage h2 {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

.getawaypage .sub {
  padding: 40px;
  overflow-y: auto; /* Enable scrolling for the content */
  flex: 1; /* Allow the content area to take remaining space */
}

.usersidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #fff;
  height: 100%; /* Full height */
  position: fixed; /* Keep it fixed */
  overflow-y: auto; /* Allow scrolling if needed */
}

/* /////// */

.header-search {
  margin-top: 100px;
  display: flex;
  margin-bottom: 80px;
  margin-left: 80px;
}

.header-search .input {
  margin-left: 80px;
  border-radius: 30px;
  height: 38px;
  width: 600px;
  border: 1px solid rgb(212, 212, 212);
  padding-left: 34px;
}

.searchIcon {
  position: relative;
  left: 110px;
  top: 9px;
}

.btn {
  border-radius: 30px;
  height: 39px;
  background-color: rgb(255, 255, 255);
  margin-right: 50px;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 150px;
}

.btn:hover {
  background-color: #666;
  color: white;
}

.plusIcon {
  position: relative;
  top: 5%;
}

/* ///////////////////// */

.card {
  margin-bottom: 20px;
  display: flex;
  margin-left: 180px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 600px; /* Adjust width as needed */
  height: 150px;
  background-color: white;
}

.card-image {
  width: 150px;
  height: auto; /* Maintain aspect ratio */
}

.card-content {
  padding: 16px;
  flex: 1;
  position: relative;
}

.rating {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 14px;
}

.card .property-name {
  margin: 0;
  padding-left: 5px;
  font-size: 20px;
  font-family: inherit;
  color: black;
}

.location {
  margin: 0;
  padding-left: 5px;
  padding-top: 8px;
  font-size: 15px;
  color: #666;
}

.button-container {
  display: flex; /* Align buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-left: 290px;
  padding-top: 40px;
}

/* Button Styles */
.edit-button,
.review-button {
  padding: 8px 12px;
  background-color: rgb(32, 58, 30);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover,
.review-button:hover {
  background-color: #666; /* Darken on hover */
}
