* {
  margin: 0px;
  box-sizing: border-box;
}

.sidebar {
  width: 300px;
  padding: 10px;
  background-color: #262b27;
  height: 100vh;
}

.host-profile {
  display: flex;
  gap: 15px;
}

.host-profile .details {
  display: flex;
  padding: 10px;
  margin-top: 15px;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.host-profile .details .sub {
  margin-top: 25px;
  text-align: center;
}

.doctor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu p {
  padding: 20px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.menu p:hover {
  background-color: #e4e4e4;
  color: #2c2c2c;
}

.menu .NavLink {
  color: inherit;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

/* Example CSS for logo */
.logo-image {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}
