.addgetawaypage {
  display: flex;
  background-color: rgb(32, 58, 30);
}

.addgetawaypage h2 {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

.addgetawaypage .new {
  padding: 40px;
  background-image: url('/images/seven.jpg');
  width: 640vh;
}

.addgetawaypage .new p {
  margin-top: 250px;
  margin-left: 380px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  border: 1px dotted rgb(255, 255, 255);
  padding: 15px;
}

.addgetawaypage .new .rowss {
  display: flex;
  flex-direction: column;
  border: 1px dotted rgb(255, 255, 255);
  padding: 70px;
  margin-left: 70px;
  margin-top: 90px;
}

.addgetawaypage .new .rowss .lab {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
}

.addgetawaypage .new .rowss .in {
  border-radius: 8px;
  border: 1px solid white;

  margin-bottom: 20px;
  height: 60px;
  width: 700px;
  color: #222422c9;
  background-color: #d6d6d6;
}

.btnnn {
  padding-left: 10px;
  margin-top: 40px;
}

.btnnn .bt {
  padding: 8px 12px;
  background-color: #d6d6d6;
  color: #222422c9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 280px;
  margin-bottom: 10px;
}

.btnnn .bt:hover {
  background-color: #666; /* Darken on hover */
  color: white;
}

.hostsidebar {
  position: fixed; /* Keep the sidebar fixed */
  top: 0;
  left: 0;
  width: 250px; /* Set a width for the sidebar */
  height: 100vh; /* Full height of the viewport */
  background-color: #f4f4f4; /* Sidebar background color */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Some padding for the sidebar content */
}

.new {
  overflow-y: auto; /* Allow vertical scrolling for the main content */
  height: 100vh; /* Full height of the viewport */
}
